.contacto {
  margin-top: 20px;
  position: relative;
}

button.eliminar {
  position: absolute;
  top: 3px;
  right: 0;
  font-size: small;
  padding: 1px 7px;
  color: red;
  background-color: transparent;
}

button.agregar {
  width: 100%;
}
