<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarID" aria-controls="navbarID"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarID">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="/dashboard/crud-libros">Libros</a>
        <a class="nav-link active" aria-current="page" routerLink="/dashboard/crud-autores">Authores</a>
      </div>
    </div>
  </div>
  <a class="nav-link"  aria-disabled="false" (click)="cerrarSesion()">Salir</a>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
